spine/cereweb/lib/wsidm/wsidm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" xmlns:intf="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types/>
  <wsdl:message name="getVersionRequest">
  </wsdl:message>
  <wsdl:message name="bdbGetUsernameRequest">
    <wsdl:part name="nin" type="xsd:string"/>
    <wsdl:part name="givenName" type="xsd:string"/>
    <wsdl:part name="surName" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="kjerneCheckIdRequest">
    <wsdl:part name="birthDate" type="xsd:anyType"/>
    <wsdl:part name="ssn" type="xsd:anyType"/>
    <wsdl:part name="studentId" type="xsd:anyType"/>
    <wsdl:part name="pin" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="kjerneCheckIdResponse">
    <wsdl:part name="kjerneCheckIdReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="bdbGetUsernameResponse">
    <wsdl:part name="bdbGetUsernameReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="getVersionReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="Serve">
    <wsdl:operation name="getVersion">
      <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>
      <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kjerneCheckId" parameterOrder="birthDate ssn studentId pin">
      <wsdl:input message="impl:kjerneCheckIdRequest" name="kjerneCheckIdRequest"/>
      <wsdl:output message="impl:kjerneCheckIdResponse" name="kjerneCheckIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="bdbGetUsername" parameterOrder="nin givenName surName">
      <wsdl:input message="impl:bdbGetUsernameRequest" name="bdbGetUsernameRequest"/>
      <wsdl:output message="impl:bdbGetUsernameResponse" name="bdbGetUsernameResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServeSoapBinding" type="impl:Serve">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getVersionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kjerneCheckId">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="kjerneCheckIdRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="kjerneCheckIdResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bdbGetUsername">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="bdbGetUsernameRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="bdbGetUsernameResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Serve">
    <wsdl:port binding="impl:ServeSoapBinding" name="Serve">
      <wsdlsoap:address location="https://wo.itea.ntnu.no:443/cgi-bin/WebObjects/WSIdm.woa/1/ws/Serve"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>